/*Navbar*/

.navbar
{
    background-color: #2DC7B2!important; 
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    margin-bottom: 0px !important;
}

nav
{
    padding-bottom:15px;
    margin-bottom: 0px !important;
}

.logo
{
    margin-top:0px;
    padding-top:0px;
    padding-right:20px;
    padding-left:20px;
    width:auto;
    height:70px;
}

.navbar .nav-link
{
    padding-top:10px;
    color:white !important;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.navbar .nav-link:hover
{
    color: #FF243A !important;
}

.dropdown-menu
{
    min-width: 5rem !important;
    border-radius: 3px !important;
}

.nav-tabs .nav-link{
    
    color: black !important;

}

/******Home*******/

/* Row 1 */
.row1
{
    margin-top: 0px !important;
    padding-top: 50px;
    display:block;
    margin: auto;
    height:550px;
    background-image: url("../images/home.jpg");
    background-size: cover;
}

.row1-head
{
    margin-top: 100px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}

.row1-text
{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.row1-button
{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border: none;
    padding: 7px 70px;
    border-radius: 6px;
    background-color: #FF243A;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
}

.row1-button:hover
{
    background-color: rgba(255, 36, 58, 0.616);
}


/* Row2 */

.row2
{
    background-image:  linear-gradient(to right,  #2DC7B2 , rgb(16, 100, 89));
    margin-top: 0px;

}

.row2col
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    width:20%;
    border-radius: 3px;
    text-align: center;
    padding: 40px 0;
}

.row2-fas
{
    margin-right:10px;
}

/* Row3 */

.row3
{
    background-color: white;
    height: inherit;
    padding:0;
}

.row3-head {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    margin-top: 30px;
}


/*Row 3 - Carousel*/

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}

.carousel .item {
	color: #747d89;
	min-height: 325px;
    text-align: center;
	overflow: hidden;
}

.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}

img 
{
    object-fit: fill;
}

.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #2DC7B2;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #2DC7B2;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius:  5px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #2DC7B2;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .carousel-control {
	height: 39px;
	width: 35px;
	background:  rgba(255, 36, 58, 0.794);	
    margin: auto 0;
    border-radius: 10px;
}
.carousel .carousel-control:hover {
	background: #FF243A;
	opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}
.carousel .carousel-control.left i {
	margin-left: -2px;
}
.carousel .carousel-control.right i {
	margin-right: -4px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 0px;
	margin: 4px;
	border-radius: 50%;
    background-color: #FF243A;
}


/*Tutor Dashboard*/


.profilebody
{
    background-image: url("../images/notebook-336634_1280.jpg");
    background-size:cover;
    padding-top:50px;
}

.card-profile
{
    background-color: rgba(255, 255, 255, 0.753) !important;
}

.card-mychannel {
    background-color: rgba(255, 255, 255, 0.753) !important;
    border: 0 solid #eee;
    border-radius: 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
    
}

.header-profile
{
    background-color: rgba(255, 255, 255, 0.643) !important;
}

.channels
{
    padding-left:10px !important;
    padding-right:10px;
    padding-bottom:45px;
}

.card-profile .header-profile {
    height: 9rem;
    background-size: cover;
    background-position: center;
}

.card-profile-img {
    max-width: 8rem;
    margin-top: -6rem;
    margin-bottom: 1rem;
    border: 3px solid #fff;
    border-radius: 100%;
}

.avatar {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #ced4da no-repeat center/cover;
    position: relative;
    text-align: center;
    color: #868e96;
    font-weight: 600;
    vertical-align: bottom;
}

.avatar.avatar-md {
    width: 3rem;
    height: 3rem;
}

.avatar.avatar-lg {
    width: 4rem;
    height: 4rem;
}

.avatar.avatar-xl {
    width: 5rem;
    height: 5rem;
}

.avatar.avatar-xxl {
    width: 7rem;
    height: 7rem;
    min-width: 7rem;
}

.header-profile:first-child {
    border-radius: 0 0 0 0;
}
.header-profile:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.header-profile {
    padding: 1rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
}

.addchannel
{
    background-color: rgb(226, 66, 82) !important;
    border-color: #FF243A;
    color: white !important;
}

.choosefile
{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.choosefile + label
{
    cursor: pointer;
}

.uploadpro
{
    border:none;
    margin-top:0 !important;
    background-color:transparent;
    color:rgb(31, 31, 31) !important;
}

.chan-modal
{
 width:40% !important;
}

.createchannel-header
{
    background-color:rgb(226, 66, 82) !important;
}


/*Channel Page */

.channelpage
{
    background-image: url("../images/notebook-336634_1280.jpg");
    background-size: cover;
}

.addtext
{
    width:20% !important;
}

/*Footer*/

ul
{
    text-decoration: none;
    list-style-type: none;
}

.footer
{ 
    width:100%;
    background-color: #404040;
    color: white;
    padding: 20px;
    left:0;
    bottom:0;
}



.footer-text
{
    text-decoration: none;
    color: whitesmoke;
}

.footer-text:hover
{
    text-decoration : none;
    color:dodgerblue;
}




/*Form Pages*/


.loginbody 
{
    background-image: url("../images/loginpage.jpg");
    background-size: cover;
     padding-top: 50px;
}

.card-header
{
    background-color:white !important;
}

.loginform
{
    width:40%;
    background-color: rgba(255, 255, 255, 0.548);
}

.logininput
{
    margin-top:15px;
    border-bottom: 1px grey solid;
}

.logincard
{
    width:50%;
    background-color:rgba(255, 255, 255, 0.664) !important;
    margin-bottom: 50px;
}

.logincard-head
{
    background-color:rgba(255, 255, 255, 0.664) !important;
}

.formtext
{
    font-size: 12px !important;
}

.login-button
{
    width:50%;
    background-color: #FF243A !important;
    border-color: #FF243A !important;
}

.login-button:hover
{
    background-color: rgba(255, 36, 58, 0.705) !important;
    border-color: rgba(255, 36, 58, 0.705) !important;
}

.form-title
{
    font-weight: bold;
    font-size: 20px;
}


/*Reviews*/

.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}


video {
    width: 100%;
    height: auto;
}

/*Star Rating*/
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }

  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }

  .rating label:last-child {
    position: static;
  }

  .rating label:nth-child(1) {
    z-index: 5;
  }

  .rating label:nth-child(2) {
    z-index: 4;
  }

  .rating label:nth-child(3) {
    z-index: 3;
  }

  .rating label:nth-child(4) {
    z-index: 2;
  }

  .rating label:nth-child(5) {
    z-index: 1;
  }

  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .rating label .icon {
    float: left;
    color: transparent;
  }

  .rating label:last-child .icon {
    color: #000;
  }

  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: rgba(255, 196, 0, 0.986);
  }

  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px rgba(255, 196, 0, 0.986);
  }


  .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}

object {
    width: 100%;
    height: 600px;
}