/*Navbar*/

.navbar
{
    background-color: white!important; 
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

nav
{
    padding-bottom:15px;
    margin-bottom: 0px !important;
}

.logo
{
    margin-top:0px;
    padding-top:0px;
    padding-right:20px;
    padding-left:20px;
    width:auto;
    height:70px;
}

.nav-link
{
    padding-top:10px;
    color:#ff711e !important;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.nav-link:hover
{
    color:black!important;
}
.nav-buttons
{
    float:right;
    margin-top:6px;
    margin-right:50px;
    padding-top:10px;
}

.nav-button1
{
    float: right;
    margin-top:20px;
    margin-right:50px;
    color:dodgerblue;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    font-size: 15px;
    font-weight: bold;
}

.nav-button2
{
    float: right;
    margin-top:20px;
    margin-right:20px;
    color:dodgerblue;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    font-size: 15px; 
    font-weight: bold;
}

.nav-button:hover
{
    color:white;
    background-color: cornflowerblue;
}

.reg-button
{
    float: right;
    background-color:dodgerblue !important;
    margin-top:15px;
    margin-right:0px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    border:none;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 15px !important;
}


.search
{
    margin-left: 15px;
    padding-top:17px;
}

.search-button
{
    color:white;
    background-color: dodgerblue;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.search-button:hover    
{
    color:white;
    background-color: cornflowerblue;
}


/* Modal Login */

.modal-title
{
    text-align: center;
    font-size: 20px;
}

.login-label
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.login-input
{
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 10px;
    border-color: darkgrey;
    border-width: thin;
    padding: 10px 40px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form
{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.modal-dialog
{
    width:50%;
    height: auto;
}

.form-button
{
    color:white;
    background-color: dodgerblue;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: none;
    border-radius:3px;
    padding: 6px 90px;
    margin-bottom: 10px;
}

.form-line
{
    display: flex; 
    flex-direction: row;
}

select
{
    border: none;
    height: 42px;
    border-radius: 4px;
    width: 48%;
    border: 1px solid lightgrey;
}


/*Home*/


.row1
{
    margin-top: 0px !important;
    padding-top: 50px;
    display:block;
    margin: auto;
    height:500px;
    background-image: url("../images/col2.jpg");
}

.row1-head
{
    margin-top: 100px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}

.row1-text
{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.row1-button
{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border: none;
    padding: 7px 70px;
    border-radius: 6px;
    background-color:#ff711e;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
}

.row1-button:hover
{
    background-color: #ff711e;
}


/* Home - row2 */

.row2
{
    background-color:dodgerblue;
    margin-top: 0px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.row2col
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    width:20%;
    border-radius: 3px;
    text-align: center;
    padding: 40px 0;
}

.row2-fas
{
    margin-right:10px;
}

/* Home - row3 */

.row3
{
    background-color: white;
    height: inherit;
    padding:0;
}


.slides
{
    height: 300px;
    width: 20%;
    padding:0;
    
}

.slide-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: dodgerblue;
    color: white;
    padding: 20px 30px;
    border-radius: 7px;
}

.row3-head
{
    color: darkslategray;
    margin-top: 30px;
    margin-bottom: 20px; 
    text-align:center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.popcard
{
    margin-top: 20px;
    margin-left: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*Footer*/

ul
{
    text-decoration: none;
    list-style-type: none;
}

.footer
{ 
    width:100%;
    background-color: #404040;
    color: white;
    padding: 20px;
    left:0;
    bottom:0;
}

hr
{
    color: darkgrey;
}

.footer-text
{
    text-decoration: none;
    color: whitesmoke;
}

.footer-text:hover
{
    text-decoration : none;
    color:dodgerblue;
}